.one {
  display: flex;
}

h3 {
  position: relative;
  left: 5rem;
}
#retour {
  background: var(--color-white);
  height: 25px;
  width: 23px;
}
.sign {
  position: relative;
  right: 0.7rem;
  bottom: 0.6rem;
  font-size: 20px;
}
/* #retour:active {
  background: var(--color-active1);
} */

#nomDeLaNote {
  font-size: x-large;
  position: relative;
  top: 1.5rem;
  width: fit-content;
  border-radius: 0.4rem;
  padding-left: 10px;
  padding-bottom: 4px;
}
#nomDeLaNote::placeholder {
  font-size: 15px;
}

#btnOk {
  background: var(--color-green2);
  height: 35px;
  position: relative;
  top: 1.3rem;
}

.textAreaContainer {
  justify-content: center;
  position: relative;
  top: 3rem;
}

.textArea {
  width: 90%;
  height: 300px;
  padding: 12px;
  resize: none;
  border-radius: 11px;
  line-height: normal;
  box-sizing: border-box;
  vertical-align: text-top;
  padding: 10px;
}

.textArea::placeholder {
  position: relative;
  /* bottom: 1rem; */
  left: 25rem;
  font-size: 30px;
}

.actions {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
  right: 3.7rem;
}

/* Bouton */
#import,
#audio,
#saved {
  font-size: 20px;
}

#import {
  background: var(--color-blue);
}
#import:active {
  background: var(--color-active2);
}

#audio {
  background: var(--color-red);
}
#audio:active {
  background: var(--color-active1);
}
#saved {
  background: var(--color-green);
}
#saved:active {
  background: var(--color-green2);
}

@media (max-width: 640px) {
  .actions {
    position: relative;
    right: 0.4rem;
    top: 8rem;
  }
  h3 {
    position: relative;
    left: 3rem;
    top: 3rem;
  }
  .textAreaContainer {
    position: relative;
    right: 0.5rem;
    top: 7rem;
  }
  .textArea::placeholder {
    /* float:left; */
    position: absolute;
    left: 1.5rem;
    top: 1.8rem;
  }
  .textArea {
    width: 100%;
  }
  #nomDeLaNote {
    position: relative;
    top: 4rem;
    left: 1rem;
  }
  .one {
    position: relative;
    /* top: 3.6rem; */
  }

  .two {
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  #btnOk {
    position: relative;
    left: 1rem;
    top: 4rem;
  }

  #retour {
    position: relative;
    right: 1.8rem;
    /* bottom: 3rem; */
  }
}
