#btnAdd {
  font-size: 20px;
  font-weight: 600;
  background: var(--color-green);
  /* float: right; */
  margin-right: 12px;
  position: fixed;
  right: 2.1rem;
  z-index: 1;
  border: 2px solid transparent;
}
#btnAdd:active {
  background: var(--color-active2);
}
.entete {
  position: relative;
  top: 6.5rem;
  font-size: 40px;
}
p {
  font-weight: 300;
}

.searchBar {
  width: 40%;
  height: 40%;
  font-size: x-large;
  border-radius: 0.3em;
  padding: 3px;
  position: relative;
  left: 2rem;
  top: 1rem;
}

.afterEntete {
  position: relative;
  top: 9rem;
}
hr {
  position: relative;
}

h3 {
  margin-top: 2px;
}

.contenu {
  display: flex;
  padding-bottom: 1rem;
}
.contenu::after {
  content: "";
  width: 1%;
  position: relative;
  top: 2rem;
  height: 1px;
  color: black;
  background: black;
}
fieldset {
  border-radius: 1rem;
  padding-bottom: 0.4rem;
}
legend {
  font-size: x-large;
  color: var(--color-gray);
}
h5 {
  border-radius: 1rem;
  background: var(--color-green);
  padding: 2rem;
  height: fit-content;
}

h5::after {
  content: ":";
  position: relative;
  left: 3.5rem;
}
.text {
  position: relative;
  overflow: hidden;
  padding-bottom: 1.5rem;
  top: 0.7rem;
}
/* Boutons  */
#editTaskBtn {
  background: var(--color-blue);
}

.separation {
  position: relative;
  bottom: 1.2rem;
}

#deleteTaskBtn {
  background: var(--color-red);
  width: fit-content;
}
#deleteTaskBtn:active {
  background: var(--color-active1);
}
#editTaskBtn :active {
  background: var(--color-active2);
}

.timeDiv {
  position: relative;
  left: 52rem;
}
.time {
  font-size: 12px;
  position: relative;
  left: 7rem;
  bottom: 1.5rem;
}

.btns {
  display: flex;
  height: 50px;
  background: rgb(221, 217, 217);
  padding: 0.7rem;
  border: 2px solid transparent;
  border-radius: 23px;
  position: relative;
}

/* Phone Query */

@media (max-width: 640px) {
  body {
    margin: 0 auto;
    padding: 0 16px;
  }
  #btnAdd {
    position: fixed;
    right: 0.5rem;
    width: fit-content;
    height: auto;
    z-index: 1;
    border: 1px solid transparent;
    font-size: 13px;
  }
  p {
    position: relative;
    right: 1.8rem;
  }
  .search {
    position: relative;
    right: 3rem;
    bottom: 1rem;
  }
  .searchBar {
    width: 100%;
    position: relative;
    top: 2.6rem;
  }
  .afterEntete {
    position: relative;
    bottom: 4rem;
    width: 68%;
  }
  fieldset {
    width: 167%;
    height: auto;
    position: relative;
    right: 2rem;
    /* padding-right: -10p; */
  }
  legend {
    font-size: 16px;
  }
  .contenu > h5 {
    position: relative;
    right: 0.4rem;
    width: auto;
    background: var(--color-gray);
    /* height: auto; */
    padding: 0.7rem;
  }
  .contenu > h5::after {
    content: ":";
    position: relative;
    left: 2rem;
  }
  .text {
    font-size: 11px;
    position: relative;
    bottom: 3rem;
    height: 30px;
    overflow: hidden;
    grid-template-columns: auto;
    height: 80px;
  }

  .btns {
    background: rgb(192, 188, 189);
    padding: 0;
    position: relative;
    top: 2.5rem;
    height: 37px;
  }
  .separation {
    position: relative;
    top: 0.3rem;
  }
  #deleteTaskBtn,
  #editTaskBtn {
    width: fit-content;
    padding: 0;
    height: 22px;
    font-size: 10px;
  }
  .timeDiv {
    position: relative;
    left: 8rem;
    width: 90%;
    top: 1.9rem;
    font-size: 7px;
  }
  .time {
    font-size: 5.4px;
  }
}
