@media (max-width: 640px) {
  #retour {
    position: relative;
    top: 2.5rem;
  }
  /* body {
    background: red;
  } */
  .textH3 {
    position: relative;
    top: 2.4rem;
  }
  .textAreaContainer {
    position: relative;
    bottom: 8rem;
  }

  #nomDeLaNote {
    position: relative;
    /* bottom: 2rem; */
    top: 3rem;
  }
  .editSave {
    position: relative;
  }
  #editsaved {
    position: relative;
    right: 26.6rem;
    top: 4rem;
  }
}
/*  */

.textH3 {
  position: relative;
  left: 4rem;
  top: 0.8rem;
}

.editSave {
  position: relative;
  top: 3rem;
  left: 35rem;
}

#editsaved {
  /* background: rgb(10, 9, 9); */
  background: var(--color-green);
  font-size: 35px;
  padding: 0;
}
#editsaved:active {
  background: var(--color-green2);
}
