* {
  padding: 0px;
  margin: 5px;
  text-decoration: none;
  list-style: none;
}
body {
  background: rgb(238, 231, 231);
  font-family: verdana, sans-serif, tahoma;
}

:root {
  --color-red: rgb(190, 27, 27);
  --color-green: rgb(41, 221, 41);
  --color-green2: rgb(139, 201, 139);
  --color-blue: rgb(61, 142, 218);
  --color-gray: rgb(129, 137, 146);
  --color-active1: rgb(163, 72, 90);
  --color-active2: rgb(111, 176, 192);
  --color-active3: rgb(164, 177, 180);
  --color-black: rgb(34, 31, 31);

  --transitiion: 300ms ease;
}

button {
  padding: 0.6rem;
  border: 2px solid transparent;
  box-shadow: 2px 3px 2px gray;
  border-radius: 1rem;
  transition: var(--transitiion);
}

button:active {
  transform: translateY(6px);
  box-shadow: none;
}
